/* ---------------------------------------------------------------
 * FLEXSLIDER CUSTOM
 * ------------------------------------------------------------ */

.flexslider { border-radius: none; }
/* Direction Nav */
.flex-direction-nav a {
	width: 32px;
	height: 32px;
}
.flex-direction-nav a:before  { 
	font-family:'fontello'; 
	content: '\e0CD';
	line-height: 32px; 
	font-size: 32px;
}
.flex-direction-nav a.flex-next:before  { content: '\e0CC'; }
.flexslider .slides > li { position: relative; }
.flex-caption {
	width:100%;
	padding:2%;
	position:absolute;
	left:0;
	bottom:0;
	background: #666666; 
	background: rgba(0,0,0,0.5);
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
	font-size:24px;
	line-height:18px; 
	margin-bottom:0;
}
.flex-caption h5 { 
	color:#ffffff; 
	margin-bottom: 0;
}
.flex-caption span {
	font-size: 13px;
	color:#cccccc;
	font-style: italic;
}
.flex-control-nav li { margin: 0 3px; }
.flex-control-paging li a {
	background: #ffffff; 
	background: rgba(255,255,255,0.5);
}
.flex-control-paging li a.flex-active {
	background: #cb0039; 
	background: rgba(203,0,57,0.9);
}

/* Reset flexslider in widget */
.widget .flexslider ul li { 
	border-bottom: none; 
	position: static;
}
.widget .flexslider ul.slides li a {
	padding-top: 0;
	padding-bottom: 0;
}
.widget .flexslider ul.slides li a:before {
  content: '';
  margin: 0;
}
.widget .flexslider ul.slides li a:hover,
.widget .flexslider .flex-direction-nav li a:hover {
	margin-left: 0;
}

/* Featured Posts flexslider on homepage */
#featured-post{
  overflow: hidden;
  position: relative;
  border: 10px solid #FFFFFF;
  border-radius: 0;
  margin-bottom: 20px;
}
#featured-post .social-share {
	background: #ffffff; 
	background: rgba(255,255,255,0.8);
	font-size: 18px;
	overflow: hidden;
	padding: 5px;
	list-style: none;
	margin: 0;
	position: absolute;
	top: 5px;
	right: 5px;
}
#featured-post .social-share li a{
	display: inline-block;
	text-indent: -9999px;
}
#featured-post .social-share li.icon-twitter { color:#359bed; }
#featured-post .social-share li.icon-facebook-squared { color:#3c5b9b; }
#featured-post .slides li img {
	border:none;
	padding: 0;
}
#featured-post .flex-control-nav {
	bottom: 10px;
	position: absolute;
	right: 10px;
	width: auto;
}
#featured-post .flex-caption h5 a{ color:#ffffff; }

/* Partners flexslider */
.logo-slideshow  {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	overflow: hidden;
}
.logo-slideshow .flex-direction-nav a {
	width:20px;
	height: 20px;
}
.logo-slideshow .flex-direction-nav li a:before{
	font-family:'fontello'; 
	content: '\e0CD';
	line-height: 20px; 
	font-size: 20px;
}
.logo-slideshow ul.flex-direction-nav a.flex-next:before  { content: '\e0CC'; }